.header {
  background-image: url('../../assets/images/img-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  height: 20rem;
}

.header-text {
  text-align: left;
  padding-top: 10rem;
}
